@model IEnumerable<FinalProject.Models.Product>

@{
    ViewData["Title"] = "המוצרים שלנו";
    ViewData["BlueTitle"] = "המוצרים שלנו.";
}

<div class="container mtb">
    <p>
        <a asp-action="Create">הוספת מוצר חדש</a>
    </p>

    <form asp-controller="Products" asp-action="Index">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        שם:
                        <input type="text" name="SearchName">
                    </th>
                    <th>
                        האם כשר?:
                        <input type="checkbox" name="SearchKosher">
                    </th>

                    <th>
                        האם צמחוני?:
                        <input type="checkbox" name="SearchVegeterian">
                    </th>
                    <th>
                        האם טבעוני?:
                        <input type="checkbox" name="SearchVegan">
                    </th>
                    <th>
                        <input type="submit" value="חפש" />
                    </th>
                </tr>
            </thead>
        </table>
</form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
 
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsVegeterian)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsVegan)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsVegeterian)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsVegan)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">עריכה</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">פרטים</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">מחיקה</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
