@model FinalProject.Models.Contact

@{
    ViewData["Title"] = "פרטי פנייה";
}

<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>פרטי פנייה.</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container mtb">
    <div>
        <dl>
            <dt class="first">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>                
                @Html.DisplayNameFor(model => model.Message)
            </dt>
            <dd>
               <div id="messageDiv">
                    @Html.DisplayFor(model => model.Message)
                </div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)                
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Subject)                
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd> 
        </dl>
    </div>
    <div>
        <a asp-action="Index">חזרה לרשימת הפניות</a>
    </div>
</div>

@section Scripts {
    <script>

        // Remvoe leading white spaces from the message textarea
        // This is a bug in MVC .net core so apply a client side fix
        var fixedText = $('#messageDiv').text().trim();

        $('#messageDiv').text(fixedText);

    </script>
}

